


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Stylish', sans-serif;
    background-image: url('images/007.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size:cover;
  }

nav{
  padding:5px;
}

.main {
    flex: 1 0 auto;
  }

.container{
  padding:10px;
}

#Portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project{
    margin: 10px;
    width: 245px;  
  }


