

body {
    display: flex;
    min-height: 100vh;
    /* flex-direction: column; */
    font-family: 'Schoolbell', cursive;
  }

nav{
  padding:5px;
}

.main {
    flex: 1 0 auto;
  }

.container{
  padding:10px;
}

#Portfolio{
    display: flex;
    flex-direction: row;
}

.project{
    margin: 10px;
    width: 245px;  
  }
  

html{
    font-family: 'Schoolbell', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Lobster', cursive;
}